*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input, button, select, option {
  font: inherit;
  border-radius: 5px;
  border: none;
  outline: none;
}

a {
  color: #b60000;
  text-decoration: none;
}

p, a {
  font-size: 0.9rem;
}

.separator {
  border-top: 1px solid #808080;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 100%;
}

.module__wrapper {
  display: flex;
  background: url(../images/EARIST.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 200px;
}
.module__wrapper__seal {
  min-width: 595px;
  -webkit-clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  background: #FFEA01;
}
.module__wrapper__seal__fixed {
  min-width: 580px;
  position: fixed;
  background: #b60000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
}
.module__wrapper__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.module__wrapper__form__header {
  text-align: center;
  background: #FFEA01;
  width: 850px;
  color: #fff;
  margin-bottom: 15px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 100% 50%, 50% 100%, 50% 100%, 0% 50%, 0% 15%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 100% 50%, 50% 100%, 50% 100%, 0% 50%, 0% 15%);
  display: none;
}
.module__wrapper__form__header__border {
  background: #b60000;
  width: 100%;
  color: #fff;
  margin-bottom: 15px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 100% 50%, 50% 100%, 50% 100%, 0% 50%, 0% 15%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 100% 50%, 50% 100%, 50% 100%, 0% 50%, 0% 15%);
  padding: 10px;
}
.module__wrapper__form__header__border img {
  width: 75px;
}
.module__wrapper__form__content {
  width: min(100%, 450px);
  padding-inline: 10px;
}
.module__wrapper__form__content__title {
  font-size: 1.5rem;
  width: min(100%, 300px);
  line-height: 1.2;
  position: relative;
  padding: 0 10px;
}
.module__wrapper__form__content__title::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background: #FFEA01;
  left: 0;
}
.module__wrapper__form__content__title span {
  color: #b60000;
}
.module__wrapper__form__content__login__field-select {
  display: flex;
  flex-direction: column;
  margin: 10px 0 20px;
}
.module__wrapper__form__content__login__field-select label {
  font-size: 0.9rem;
}
.module__wrapper__form__content__login__field-select select {
  padding: 12.5px 15px;
  background: #fff;
  border: 2px solid #fff;
  transition: 0.3s ease;
}
.module__wrapper__form__content__login__field-select select:focus {
  border: 2px solid #b60000;
}
.module__wrapper__form__content__login__field-input {
  position: relative;
}
.module__wrapper__form__content__login__field-input.js-username {
  margin: 20px 0 10px;
}
.module__wrapper__form__content__login__field-input label {
  position: absolute;
  color: #808080;
  top: 12.5px;
  left: 15px;
  transition: 0.3s ease;
}
.module__wrapper__form__content__login__field-input input {
  background: #fff;
  width: 100%;
  padding: 20px 15px 5px;
  border: 2px solid #fff;
  transition: 0.3s ease;
}
.module__wrapper__form__content__login__field-input input:focus {
  border: 2px solid #b60000;
}
.module__wrapper__form__content__login__field-input.active label {
  font-size: 0.85rem;
  top: 3px;
}
.module__wrapper__form__content__login__forgot-pass {
  text-align: right;
}
.module__wrapper__form__content__login__field-btn {
  margin: 15px 0;
}
.module__wrapper__form__content__login__field-btn button {
  width: 100%;
  background: #b60000;
  color: #fff;
  padding: 12.5px;
}
.module__wrapper__form__content__login__copyright {
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 850px) {
  .module__wrapper {
    background-position: center;
  }
  .module__wrapper__seal {
    display: none;
  }
  .module__wrapper__form {
    justify-content: flex-start;
  }
  .module__wrapper__form__header {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */