.module{
    &__wrapper{
        display: flex;
        background: url(../images/EARIST.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 200px;

        &__seal{
            min-width: 595px;
            clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
            background: #FFEA01;

            
            &__fixed{
                min-width: 580px;
                position: fixed;
                background: #b60000;
                min-height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);         
            }
        }

        &__form{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;

            &__header{
                text-align: center;
                background: #FFEA01;
                width: 850px;
                color: #fff;
                margin-bottom: 15px;
                clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 100% 50%, 50% 100%, 50% 100%, 0% 50%, 0% 15%);
                display: none;

                &__border{
                    background: #b60000;
                    width: 100%;
                    color: #fff;
                    margin-bottom: 15px;
                    clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 100% 50%, 50% 100%, 50% 100%, 0% 50%, 0% 15%);
                    padding: 10px;

                    img{
                        width: 75px;
                    }
                }  
            }

            &__content{
                width: min(100%, 450px);
                padding-inline:10px ;

                &__title{
                    font-size: 1.5rem;
                    width: min(100%, 300px);
                    line-height: 1.2;
                    position: relative;
                    padding:0 10px ;

                    &::before{
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 5px;
                        background: #FFEA01;
                        left: 0;
                    }

                    span{
                        color: #b60000;
                    }
                }

                &__login{

                    &__field-select{
                        display: flex;
                        flex-direction: column;
                        margin: 10px 0 20px;

                        label{
                            font-size: .9rem;
                        }
                        
                        select{
                            padding: 12.5px 15px;
                            background: #fff;
                            border: 2px solid #fff;
                            transition: .3s ease;

                            &:focus{
                                border: 2px solid #b60000;
                            }
                        }
                    }

                    &__field-input{
                        position: relative;
                        

                        &.js-username{
                            margin: 20px 0 10px;
                        }
                        label{
                            position: absolute;
                            color: #808080;
                            top: 12.5px;
                            left: 15px;
                            transition: .3s ease;
                        }

                        input{
                            background: #fff;
                            width: 100%;
                            padding: 20px 15px 5px;
                            border: 2px solid #fff;
                            transition: .3s ease;

                            &:focus{
                                border: 2px solid #b60000;
                            }
                        }

                        &.active label{
                            font-size: .85rem;
                            top: 3px;
                        }

                        
                    }

                    &__forgot-pass{
                        text-align: right;
                    }

                    &__field-btn{
                        margin: 15px 0;
                        
                        button{
                            width: 100%;
                            background: #b60000;
                            color: #fff;
                            padding: 12.5px;
                        }
                    }

                    &__copyright{
                        text-align: center;
                        margin-top: 20px;
                    }
                }

            }
        }
    }

    @media screen and (max-width:850px){
        &__wrapper{
            background-position: center;
            &__seal{
                display: none;
            }

            &__form{
                justify-content: flex-start;
                &__header{
                    display: block;
                }
            }
        }
    }
}